body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#content {
    background-color: #eee;
    position: absolute;
    margin: 0;
    padding: 0;
    left: 0;
    top: 0;
    bottom: 25px;
    right: 0;
}

#source_outer {
    position: absolute;
    left: 0;
    top: 10px;
    bottom: 10px;
    width: 45%;
    margin: 0;
}

#source {
    position: relative;
    background-color: #fff;
    box-shadow: inset 0 0 8px rgba(0,0,0,0.3);
    padding: 0;
    margin-top: 0;
    margin-left: 10px;
    margin-right: 5px;
    margin-bottom: 0;
    height: 100%;
}

#source div.CodeMirror {
    box-shadow: inset 0 0 8px rgba(0,0,0,0.3);
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

#source div.CodeMirror-gutters {
    background-color: rgba(0,0,0,0.02);
}

#result_outer {
    overflow: hidden;
    position: absolute;
    width: 55%;
    margin: 0;
    padding: 0;
    top: 10px;
    bottom: 10px;
    right: 0;
}

#result {
    overflow: scroll;
    background-color: #fff;
    box-shadow: inset 0 0 8px rgba(0,0,0,0.3);
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 5px;
    padding-right: 5px;
    margin-top: 0;
    margin-left: 5px;
    margin-right: 10px;
    margin-bottom: 0;
    height: 100%;
}

#result_outer.run #result {
    height: 60%;
}

#run_button_wrapper {
    position: absolute;
    top: 0;
    right: 10px;
    padding-top: 0;
    padding-right: 0;
    padding-left: 10px;
    padding-bottom: 10px;
    overflow: hidden;
}

#run_button {
    box-shadow: 0 0 8px rgba(0,0,0,0.3);
    cursor: pointer;
    font-size: 70%;
    background-color: #eee;
    margin: 0;
    display: none;
    min-width: 120px;
    padding: 6px 6px 6px 6px;
    border-bottom-left-radius: 4px;
}

#run_button_content {
    color: #444;
    opacity: 0.8;
    padding: 0 0 0 25px;
    background-image: url(run_button.png);
    background-repeat: no-repeat;
    background-position: 5px 1px;
}

#run_button:hover #run_button_content {
    opacity: 1.0;
}

#result_outer.run #run_button,
#result_outer.runnable #run_button {
    display: block;
}

#result_run {
    display: none;
    position: absolute;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 5px;
    padding-right: 5px;
    margin-top: 0;
    margin-left: 5px;
    margin-right: 10px;
    margin-bottom: 0;
    left: 0;
    bottom: 0;
    right: 0;
    height: 40%
}

#result_run_spacer {
    background-color: #fff;
    box-shadow: inset 0 0 8px rgba(0,0,0,0.3);
    position: absolute;
    top: 10px;
    left: 0;
    right: 0;
    bottom: 0;
}

#result_outer.run #result_run {
    display: block;
}

#run_output {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    border: none;
}

#result_outer.error #result {
    background-color: #fee;
}

#result_outer.busy #result {
    background-repeat: no-repeat;
    background-image: url(busy.gif);
    background-position: 20px 20px;
}

#footer {
    background-color: #eee;
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    height: 25px;
    font-size: 75%;
    color: #777;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

#footer a {
    color: #66a;
}
